<body>
  <div class="header">

  </div>
<!--メインビジュアル-->
  <div class="main-visual">
    <div class="main-content">
      <h3 class="main-text">
        Lorem lpsum
      </h3>
      <p class="sub-text">
        simply dummy text of the printing
      </p>
    </div>
  </div>
<!--メイン-->
  <div class="main">
  <section id="portfolio"></section>
    <div class="text">

      <h3 class="portfolio-main">Portfolio</h3>

      <p class="portfolio-sub">
        It is a long established fact that a reader will be distracted by the readable</br>
        content of a page when looking at its layout.</br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
    </div>
    <div class="content">
      <div class="item"><image class="item-image" src="/assets/sketch.jpg" /></div>
      <div class="item"><image class="item-image" src="/assets/websuku.png"></image></div>
      <div class="item"><image class="item-image" src="/assets/write.jpg"></image></div>
      <div class="item"><image class="item-image" src="/assets/webcamp.png"></image></div>
      <div class="item"><image class="item-image" src="/assets/talk.jpg"></image></div>
      <div class="item"><image class="item-image" src="/assets/webcamp-mother.png"></image></div>
    </div>
  </div>
<!--feature-->
  <div class="feature">
  <section id="feature"></section>
    <div class="text">
      <h3 class="feature-main">Feature</h3>

      <p class="feature-sub">
        It is a long established fact that a reader will be distracted by the readable</br>
        content of a page when looking at its layout.</br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
    </div>
    <div class="content">
      <div class="item">
        <div class="icon"><i class="far fa-angry"></i></br><h5 class="tittle">Strength1</h5></div>
        <p class="sub">
          Contrary to popular belief, Lorem Ipsum</br>
          is not simply random text. It has roots in</br>
          a piece of classical Latin literature from</br>
          45 BC, making it over 2000 years old.</br>
          Richard McClintock, a Latin professor at</br>
          Hampden-Sydney College in Virginia,</br>
          looked up one of the more obscure Latin</br>
          words, consectetur
        </p>
      </div>
      <div class="item">
        <div class="icon"><i class="fab fa-amazon"></i></br><h5 class="tittle">Strength2</h5></div>
        <p class="sub">
          Contrary to popular belief, Lorem Ipsum</br>
          is not simply random text. It has roots in</br>
          a piece of classical Latin literature from</br>
          45 BC, making it over 2000 years old.</br>
          Richard McClintock, a Latin professor at</br>
          Hampden-Sydney College in Virginia,</br>
          looked up one of the more obscure Latin</br>
          words, consectetur
        </p>
      </div>
      <div class="item">
        <div class="icon"><i class="fas fa-biohazard"></i></br><h5 class="tittle">Strength3</h5></div>
        <p class="sub">
          Contrary to popular belief, Lorem Ipsum</br>
          is not simply random text. It has roots in</br>
          a piece of classical Latin literature from</br>
          45 BC, making it over 2000 years old.</br>
          Richard McClintock, a Latin professor at</br>
          Hampden-Sydney College in Virginia,</br>
          looked up one of the more obscure Latin</br>
          words, consectetur
        </p>
      </div>
    </div>
  </div>

  <!--profile-->
  <div class="profile-main">
  <section id="profile"></section>
    <div class="text">
      <h3 class="profile-text">Profile</h3>

      <p class="profile-sub">
        It is a long established fact that a reader will be distracted by the readable</br>
        content of a page when looking at its layout.</br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
    </div>
    <!--プロフィール画像-->
    <div class="content">
      <div class="profile-image">
        <div class="image"><image class="item-image" src="/assets/my-icon.jpg" /></div>
      </div>
      <!--自己紹介-->
      <div class="profile">
        <h3 class="name">MyName</h3>
        <p class="sub">
          Contrary to popular belief, Lorem Ipsum is not simply random</br>
          text. It has roots in a piece of classical Latin literature from 45n</br>
          BC, making it over 2000 years old. Richard McClintock, a Latin</br>
          professor at Hampden-Sydney College in Virginia, looked up one</br>
          of the more obscure Latin words, consectetur
        </p>
        <h3 class="my-skill">MySkills</h3>
        <p class="skills">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
      </div>
    </div>
  </div>
</body>