// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ300px */
  background-image: url(mv.png);
  background-size: 100% 100%;

  .main-content {
    text-align: center;
    color: white;
    padding-top: 200px;

    .main-text {
      margin-bottom: 0;
      font-size: 64px;

    }

    .sub-text {
      margin-top: 10px;
      font-size: 20px;

    }
  }
}

.main {
  width: 100%; /* 横幅いっぱい */
  background-color: #ECEFF1;

  .text {
    margin: auto;
    text-align: center;
    width: 920px;
    padding-top: 90px;


    .portfolio-main {
      font-size: 32px;

    }
    .portfolio-main:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      margin: 8px auto 0 auto;
      background-color: #EC715F;
    }

    .portfolio-sub {
      font-size: 16px;
      padding-top: 30px;
      padding-bottom: 25px;
    }
  }

  .content{
      padding-bottom: 85px;
      max-width: 920px;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;

    .item{
      flex-basis: 300px;
      height: 250px;

      .item-image{
        width: 300px;
        height: 250px;
        padding: 5px;
      }
    }
  }
}
.feature {
  width: 100%;

  .text {
    margin: auto;
    text-align: center;
    width: 980px;
    padding-top: 90px;

    .feature-main {
      font-size: 32px;
    }

    .feature-main:after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      margin: 8px auto 0 auto;
      background-color: #EC715F;
    }

    .feature-sub {
      font-size: 16px;
      padding: 30px 0;
    }

  }

  .content {

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;

    .item:nth-child(2) {
      margin: 0 10px;
    }

    .item {
      width: 320px;



      .icon {
        text-align: center;
        .fa-angry, .fa-amazon, .fa-biohazard {
          font-size: 60px;
        }

        .tittle {
          font-size: 20px;
          padding: 10px 0;

        }
      }


      .sub {
        font-size: 16px;

      }
    }
  }
}
